@model List<CodingEventsDemo.Models.EventCategory>

<h1>Event Categories</h1>

<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Name</td>
        </tr>
    }
</table>