<h1>Add Event</h1>

<form method="post">
    <label>Name:</label><br />
    <input name="name" type="text" /><br /><br />
    <label>Description:</label><br />
    <input name="description" type="text" /><br />
    <input type="submit" value="Add Event" />
</form>
